<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link type="text/css" rel="stylesheet" href='/style.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>todolist</title>
</head>

<body>
  <h1>TODOLIST</h1>
  <div class="container">
    <div class="subcon">
      Enter your task:
      <input type="text" name="typedVal" id="inpfield">
      <button type="submit" id="but">submit</button>
    </div>
      
    
  </div>
  <div class="tasks">
    <ul id="list">

    </ul>
  </div>

  </h1>
  <script src="/main.js"></script>
</body>

</html>